.services {
  padding: 6rem 2rem;
  background: var(--s-card);
  transition: all 0.3s ease;
}


.sTitle {
  text-align: center;
  margin-bottom: 4rem;
}

.skillsTitle {
  font-size: 3rem;
  font-weight: 800;
  display: inline-block;
}

.serviceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.servicesCard {
  background: var(--card-bg);
  border-radius: 16px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.servicesCard:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 15px 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title h3 {
  font-size: 1.2rem;
  font-weight: 900;
 color:#000;
}

.desc {
  flex-grow: 1;
  line-height: 1.6;
 color:#000;
}

.des {
 color:#000;
  opacity: 0.85;
  font-weight: 400;
}




@media (max-width: 768px) {
  .services {
    padding: 4rem 1.5rem;
  }

  .skillsTitle {
    font-size: 2.5rem;
  }

  .serviceContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .servicesCard {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .services {
    padding: 3rem 1rem;
  }

  .skillsTitle {
    font-size: 2rem;
  }
}

.downloadBtn {
  padding: 0.65rem 2rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #3e70ec;

  color: #00247e;
  width: 70%;
  text-align: center;
  font-weight: 500;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.downloadBtn:hover {
  background-color: #3e70ec;
 color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}