.container{
 max-width: 1200px;
 display: flex;
 padding: 6rem 0;
align-items: center;
justify-content: center;
     margin: 0 auto;
}
.heading{

    font-size: 2.2rem;
    font-weight: 800;
    background: linear-gradient(135deg, #3e70ec 0%, #2a1454 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 2rem auto;
    text-align: center;
}