.counterSection {
  padding: 6rem 1rem;
  margin-top: 5rem;
  width: 100%;
  transition: 0.3s ease;
}

.lightMode {
  background:
    linear-gradient(135deg,
      #ffffff 0%,
      #dbeafe 100%);
  color: #111827;
}

.darkMode {
  background:
    radial-gradient(circle at top,
      #25326b,
      #000e24);
  color: white;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.wrapper {
  display: grid;
  grid-template-columns:
    repeat(4, 1fr);
  gap: 25px;
}
.statBlock {
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
    background: #ffffffb0;

    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    padding: 15px 25px;
    transition: all .4s;
    display: flex;
    position: relative;
    overflow: hidden;
}

.statBlock:hover {
  transform:
    translateY(-12px);
}

.iconBox {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 20px;
}


.statNumber {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1;
  color: #2563eb;
}
.darkMode .statNumber {
  color: #93c5fd;
}
.statDescription {
  margin-top: 12px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #475569;
}
.darkMode .statDescription {
  color: #cbd5e1;
}

@media(max-width:1100px) {
  .wrapper {
    grid-template-columns:
      repeat(2, 1fr);
  }
}
@media(max-width:600px) {
  .wrapper {
    grid-template-columns:
      1fr 1fr;
  }
  .statNumber {
    font-size: 2.8rem;
  }
  .statBlock{
        padding: 15px 5px;
  }
  .statDescription{
        font-size: 0.85rem;
  }
}
