.scrollBanner {
  display: flex;
  background: linear-gradient(90deg, #3c6ae1 0%, #3443a1 100%);
  padding: 15px 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transform: rotate(-2deg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.bg{
  background: var(--card-bg);
}
.scrollItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 0 1.5rem;
  animation: scroll 20s linear infinite;
}

.starIcon {
  filter: brightness(0) invert(1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1.5rem));
  }
}

.scrollBanner:hover .scrollItem {
  animation-play-state: paused;
}
