
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets in portrait mode */
  
.banner-bg{
    width: 354px !important;
    height: 56vh !important;
 

    right: 3.6rem !important;
}
.nav-toggle{
      left: -3rem !important;
    position: relative !important;
}
.logo{
    margin-left: 1rem !important;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for tablets in landscape or small laptops */

.banner-bg{
    width: 354px !important;
    height: 56vh !important;
 

    right: 3.6rem !important;
}
.wrapper{
        margin-top: -2rem;
}
.card-flex {

    margin-top: -4rem !important;
}
.wrapper-about{
  
    gap: 1rem !important;
    padding: 4rem 0 !important;

}
.about-section{
          flex-direction: column !important;
}
}