
.download{
  display:flex;
  align-items: center;
  gap: 6px;
  padding: 15px 14px;
  border-radius: 6px;
  border: 1px solid #3875fb;
  color: #3875fb;
  text-decoration: none;
  font-size: 0.9rem;background-color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
  margin: 0 auto;

  justify-content: center;
}
.download:hover{
  background: #587efa;
  color: #ffffff;
  transform: translateY(-2px);
}