
.footer {
  width: 100%;
  padding: 1rem 0;
  box-shadow:var(--card-shadow);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-align: center;
  position: sticky; 
  bottom: 0;
  z-index: 10;

  background-color:var(--card-bg);
  color: var(--text-color);

}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


.text {
  margin: 0;
  font-size: 0.9rem;
}


@media screen and (min-width: 720px) {
  .text {
    font-size: 1rem;
  }
}
