<<<<<<< HEAD

.footer {
  width: 100%;
  padding: 1rem 0;
  box-shadow:var(--card-shadow);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-align: center;
  position: sticky; 
  bottom: 0;
  z-index: 10;

  background-color:var(--card-bg);
  color: var(--text-color);

}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}


=======
.footer {
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: background 0.3s ease, color 0.3s ease;
}
.light {
  background: #ffffff;
  color: #333;
}
.dark {
  background: #1e1e1e;
  color: #ddd;
}
.content {
  text-align: center;
}
>>>>>>> 38539456c0d6ded47a8dd538a9d68180295bfbe0
.text {
  margin: 0;
  font-size: 0.9rem;
}
<<<<<<< HEAD


=======
>>>>>>> 38539456c0d6ded47a8dd538a9d68180295bfbe0
@media screen and (min-width: 720px) {
  .text {
    font-size: 1rem;
  }
}
