.footer {
   background: rgb(255, 255, 255);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}
.footer-logo {
    display: flex;
    justify-content: center;
        color: #fff;
        font-family: cursive;
        font-weight: bold;
        font-size: 2.2rem;
}
.footer-nav {
    color: #fff;
}
.footer-ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 10px;
}
.footer-ul li {
    list-style: none;
    text-align: center;
}
.footer-ul li a {}

@media screen and (min-width:720px) {
.footer-ul {
 gap: 4px;
    grid-template-columns: repeat(7, 1fr);
   
}
.copyrights p{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
}
.copyrights p{
        text-align: center;
    padding: 1rem;
}