.breadcrumb {
  background:linear-gradient(135deg, #f5f7fa 0%, #b0ceff 100%);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.breadcrumb h1 {
  color: #010038;
  font-size: 4rem;
  margin: 0;
}

.breadcrumbText {
  color: #00082b;
  margin-top: 10px;
  font-size: 1.1rem;
}

/* Cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  flex: 0 1 calc(33.333% - 20px);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  padding: 20px;
}

.cardContent h3 {
  margin-top: 0;
  color: #333;
}

.cardContent p {
  color: #666;
  font-size: 15px;
  line-height: 1.6;
}

.cardContent a {
  display: flex;
  margin-top: 15px;
  padding: 10px 15px;
  background: rgb(64 123 255);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px auto;
  width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cardContent a:hover {
  background: #0056b3;
}

/* Responsive */
@media (max-width: 1024px) {
  .card {
    flex: 0 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: 1 1 100%;
    width: 100%;
  }

  .breadcrumb h1 {
    font-size: 2.5rem;
  }
}
