.service-bredcrumb{
      background: linear-gradient(45deg, #8caeff 0%, #3c5dac 51%, #8caeff 100%);
    height: 40vh;
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #fff;
    font-size: 4rem;
}
.services-details{
    padding: 4rem 0;
}